body {
    margin: 0;
    background-color: rgb(144, 89, 155);
    color: white;
    min-width: 320;
    max-width: 1366;
    margin: auto;
}

#TS4img{
        position: absolute;
        width: 400px;
        left: 480px;
}

#Download{
    position: absolute;
    top: 680px;
    left: 550px;
}

#Jogo{
    position: absolute;
    top: 745px;
    left: 600px;
    height: 30px;
    color: white;
}

#Creditos{
    position: absolute;
    top: 750px;
    left: 430px;
    height: 30px;
}